

.container {
  text-align: center;
  padding: 50px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
  margin: 20px;
}
img {
  width: 100px;
  cursor: pointer;
}
h3 {
  margin-top: 50px;
  color: #555;
}
